@model List<BookReading.Models.Review>

<fieldset>
	<legend>Отзывы</legend>
	@foreach (var review in Model)
	{
		<p>
			<b>@Html.DisplayNameFor(m => review.AuthorId) </b>
			<br/>
			@Html.DisplayFor(m => review.AuthorId)
			<br/>
			<b>@Html.DisplayNameFor(m => review.Text) </b>
			<br/>
			@Html.DisplayFor(m => review.Text)
		</p>
	}
</fieldset>
